/*--------------------General properties-----------------------*/
p 
	font-family "Roboto"
h1,h2,h3,h4,h5,h6
	font-family "Roboto"
	font-weight 100
a
	text-decoration none
.centering 
	display flex
	justify-content center
	align-items center
@import 'components/menu.styl'
@import 'components/brands.styl'
/*----------------Individual properties-----------------------------------*/
.threeSection
	background linear-gradient(to top right, rgba(234,201,230,1) 0%, rgba(181,159,178,1) 37%, rgba(197,200,201,1) 100%)
	.slider
		.slides
			background none	
/*----------------------------Footer----------------------*/
.footer-copyright
	background #000
	max-height 50px
	padding-top calc(17px/2)
	p
		color #FFF
		font-size 17px
		font-weight 100
		margin 0
/*-----------------*/