/*--------------------General properties-----------------------*/
p 
	font-family "Roboto"
h1,h2,h3,h4,h5,h6
	font-family "Roboto"
	font-weight 100
a
	text-decoration none
.centering 
	display flex
	justify-content center
	align-items center
/*Menu*/
@import 'components/menu.styl'
/*END Menu*/
/*--------------------One Section--------------------------*/
/*Slideshow one section*/
@import 'components/os_slideshow.styl'
/*END Slideshow one section*/
/*Brand slideshow one section*/
@import 'components/os_brands_slideshow.styl'
/*END Brand slideshow one section*/
/*--------------------Two Section--------------------------*/
/*Mini Categorys two section*/
@import 'components/twosec_mini_categories.styl'
/*END Mini Categorys two section*/
/*--------------------Three Section--------------------------*/
.topProduct
	background #ccc
	min-height 800px 