/*--------------------General properties-----------------------*/
p 
	font-family "Roboto"
h1,h2,h3,h4,h5,h6
	font-family "Roboto"
	font-weight 100
a
	text-decoration none
.centering 
	display flex
	justify-content center
	align-items center
/*Menu*/
@import 'components/menu.styl'
/*END Menu*/
/*--------------------One Section--------------------------*/
/*Slideshow*/
@import 'components/os_slideshow.styl'
/*END Slideshow*/
/*Brand slideshow*/
@import 'components/os_brands_slideshow.styl'
/*END Brand slideshow*/
/*--------------------Two Section--------------------------*/
/*Mini Categorys*/
@import 'components/twosec_mini_categories.styl'
/*END Mini Categorys*/
/*--------------------Three Section--------------------------*/
.topProduct
	background #ccc
/*card top Product */
@import 'components/cardTP.styl'
/*END card Top Product*/
/*card top product mini*/
@import 'components/ths_topproduct_slideshow.styl'
/*END card top product mini*/