.container
	.row
		h4(class="center") ABOUT
		div(class="sec1 col s12 m6 l6")
			div
				h5(class="caption") BUSINESS INFO
				i(class="material-icons left") info_outline
				p Created in June
			div
				h5(class="caption") CONTACT INFO
				i(class="material-icons left") call
				p Call +39 338 915 3634
				i(class="material-icons left") chat_bubble
				p eflovegame@gmail.com
			div
				h5(class="caption") MORE INFO
				i(class="material-icons left") info_outline
				p About <br> SEXY SHOP SELF SERVICE 24 H Siamo a Modena via Fratelli Rosselli 11
				i(class="material-icons left") info_outline
				div
					p General information <br> Quando cala la notte, quando il desiderio bussa alla tua porta,quando senti il bisogno di sprigionare le tue fantasie... entra da... LOVE GAME SEXY SHOP 24H

		div(class="sec2 col s12 m6 l6")
			div
				h5(class="caption") STORY
				p All' interno del negozio sexy shop a Modena troverai 4 distributori automatici per effettuare in tutta riservatezza e a qualsiasi ora i tuoi acquisti con svariati sexy toys , lingerie , scherzi e tanti altri prodotti semplicemente per divertirsi e per aumentare il piacere!!!
				p Nel nostro negozio sexy shop a Modena, aperto 24 ore su 24 con distributori automatici troverai tanti articoli sexy e prodotti da sexy shop, tra i quali: accessori per al celibato , anello vibrante, bambole gonfiabili, cintura fallica, accessori fetish, lingerie sexy , lubrificante anale, manette, mutandine con telecomando, palline anali, palline vaginali, preservativi, ritardante, articoli sadomaso, stimolante donna, vibratore, stimolanti uomo.