div(class="carousel" data-flickity='{ "groupCells": true}')
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="https://cdn-images-2.medium.com/max/800/1*b56TGROL3Qpe-YhKVBmSUQ.jpeg")