div(class="carousel" data-flickity='{ "groupCells": true, "imagesLoaded": true }')
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd2.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd7.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd4.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd1.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd6.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd7.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/brands/brd5.png")