.carousel(data-flickity='{ "groupCells": true }')
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")
  div(class="carousel-cell")