.row
	div
		div(class="card")
			div(class="card-image waves-effect waves-block waves-light")
				.wrapimg(class="activator")
					img(src="img/fbpage2.jpg")
			div(class="card-content")
				a(href="#") ADD TO CART
			div(class="card-reveal")
				h4 Title
				h4 Description
				p Lorem ipsum dolor sit amet, consectetur adipisicing.
				p Here is some more information about this product that is only revealed once clicked on.
				p Here is some more information about this product that is only revealed once clicked on.
				h5 Price
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				span(class="card-title grey-text text-darken-4")
					i(class="material-icons right") close
				h6(class="center") 
					a(href="#") WATCH MORE