.container
	.row
		div(class="col s12 m8 l8 offset-l4")
			div(class="card horizontal row")
				div(class="card-image col s12 m6 l6")
					img(class="materialboxed" src="img/fbpage.jpg")
				div(class="card-stacked col s12 m6 l6")
					div(class="card-content")
						h4 Title
						p Description Lorem ipsum dolor sit amet, consectetur adipisicing.
						h5 Price
						i(class="material-icons small") star
						i(class="material-icons small") star
						i(class="material-icons small") star
						i(class="material-icons small") star
					div(class="card-action right")
						a(href="#") ADD TO CART