.container
	.row
		div(class="col s12 m6 offset-m6")
			div(class="card horizontal")
				div(class="card-image")
					img(class="activator" src="img/office.jpg")
				div(class="card-stacked")
					div(class="card-content")
						p am a very simple card. I am good at containing small bits of information.
					div(class="card-action")
						a(href="#") This is a link