.row
	div
		div(class="card")
			div(class="card-image waves-effect waves-block waves-light")
				.wrapimg(class="activator")
					img(src="img/fbpage2.jpg")
			div(class="card-content")
				div(class="center")
					P(class="center")
						i(class="small material-icons" style="color:#fff;") payment
						a(href="#" ) ADD TO CART
			div(class="card-reveal")
				h3 EXtravaganza Antonya Vidra Love Doll
				p DESCRIPTION Lorem ipsum dolor sit amet, consectetur adipisicing.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
				h4 Price : 1000 €
				h4 RATING
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				</br>
				</br>
				</br>
				</br>
				</br>
				div
					h5(class="left")
						a(href="#") WATCH MORE
					span(class="card-title grey-text text-darken-4 center")
						i(class="material-icons right" style="margin-right: 10%; font-size:30px; color:#000; ") close