.container
	.row
		div(class="col s12 m8 l8 offset-l4")
			div(class="card horizontal")
				div(class="card-image")
					img(class="activator" src="img/sort/minCat7.jpg")
				div(class="card-stacked")
					div(class="card-content")
						h4 Title
						p Description Lorem ipsum dolor sit amet, consectetur adipisicing.
						h5 Price
						i(class="material-icons small") star
						i(class="material-icons small") star
						i(class="material-icons small") star
						i(class="material-icons small") star
					div(class="card-action right")
						a(href="#") ADD TO CART