.row
	div
		div(class="card")
			div(class="card-image waves-effect waves-block waves-light")
				.wrapimg(class="activator")
					img(src="img/fbpage2.jpg")
			div(class="card-content")
				div(class="center")
					P(class="center")
						a(href="#" ) ADD TO CART
			div(class="card-reveal")
				h3 Extravaganza Antonya Vidra Love Doll
				<br>
				p DESCRIPTION Lorem ipsum dolor sit amet, consectetur adipisicing.Here is some more information about this product that is only revealed once clicked on.Here is some more information about this product that is only revealed once clicked on.
				<br>
				<br>
				h4 Price : 1000 €
				h4(class="left") RATING: 
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				i(class="material-icons small") star
				</br>
				</br>
				</br>
				</br>
				</br>
				div(class="row")
					h5(class="col m6 s12 center")
						a(href="#") WATCH MORE
					span(class="card-title grey-text text-darken-4 col m6 s12 center")
						i(class="material-icons " style="color:#000; font-size:30px;") close