.filterContent.col.l9.m9.s12
	div(class="row")
		div(class="col l4 m4 s12 clearfix")
			.card
				.card-image
					img(src="img/fbpage.jpg")
				.card-content
					h5 Pipedream Extreme
					h6 Sub Categori
				.card-action.row
					span(class="col s6")
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
					span(class="price col s6")
						span 499 €
						span(class="savemoney") 599 €
		div(class="col l4 m4 s12 clearfix")
			.card
				.card-image
					img(src="img/fbpage.jpg")
				.card-content
					h5 Pipedream Extreme
					h6 Sub Categori
				.card-action.row
					span(class="col s6")
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
					span(class="price col s6")

						span 499 €
						span(class="savemoney") 599 €
		div(class="col l4 m4 s12 clearfix")
			.card
				.card-image
					img(src="img/fbpage.jpg")
				.card-content
					h5 Pipedream Extreme
					h6 Sub Categori
				.card-action.row
					span(class="col s6")
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
					span(class="price col s6")
						span 499 €
						span(class="savemoney") 599 €
		div(class="col l4 m4 s12 clearfix")
			.card
				.card-image
					img(src="img/fbpage.jpg")
				.card-content
					h5 Pipedream Extreme
					h6 Sub Categori
				.card-action.row
					span(class="col s6")
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
					span(class="price col s6")
						span 499 €
						span(class="savemoney") 599 €
		div(class="col l4 m4 s12 clearfix")
			.card
				.card-image
					img(src="img/fbpage.jpg")
				.card-content
					h5 Pipedream Extreme
					h6 Sub Categori
				.card-action.row
					span(class="col s6")
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
						i(class="material-icons") star
					span(class="price col s6")
						span 499 €
						span(class="savemoney") 599 €