.page-footer.grey
  .container
    .row
      div(class="col l3 s12")
        h5(class="white-text") Footer Content
        p(class="grey-text text-lighten-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque soluta numquam, quis perspiciatis ea ad omnis provident laborum dolore in atque ut doloribus quo, ratione fuga amet ab, vel nobis?
      div(class="col l3 s12")
        h5(class="white-text") Footer Content
        p(class="grey-text text-lighten-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus alias hic soluta odio reiciendis similique delectus eos quaerat tempore facilis. Aliquid esse quaerat illum atque ea dolor voluptatum quod ratione!
      div(class="col l3 s12")
        h5(class="white-text") Footer Content
        p(class="grey-text text-lighten-4")  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, aliquid numquam dolorum vitae culpa similique qui hic adipisci quia magni? Aliquam accusamus soluta, veritatis aliquid debitis dolores quis facilis nemo.
      div(class="col l3 s12")
        ul(class="right")
          h5(class="white-text right") Links
          li
            a(class="grey-text text-lighten-3" href="#!") Link 1
          li
            a(class="grey-text text-lighten-3" href="#!") Link 1
          li
            a(class="grey-text text-lighten-3" href="#!") Link 1
          li
            a(class="grey-text text-lighten-4 right" href="#!") More Links
  div(class="footer-copyright")
    .container
      p |© Powered by Andrei Ghenov (DevBalu)