.page-footer.grey
  .container
    .row
      div(class="col l3 s12")
        ul
          h4(class="white-text") CUSTOMER SERVICE
          li
            a(class="grey-text text-lighten-3" href="#!") CONTACT USE
          li
            a(class="grey-text text-lighten-3" href="#!") RETURNS
          li
            a(class="grey-text text-lighten-3" href="#!") SITE MAP
      div(class="col l3 s12")
        ul
          h5(class="white-text") EXTRASS
          li
            a(class="grey-text text-lighten-3" href="#!") BRANDS
          li
            a(class="grey-text text-lighten-3" href="#!") AFFILIATES
          li
            a(class="grey-text text-lighten-3" href="#!") SPECIALS
      div(class="col l3 s12")
        ul(class="left" style="margin:0;")
          h5(class="white-text") LINKS
          li
            a(class="grey-text text-lighten-3" href="#!") Facebook
          li
            a(class="grey-text text-lighten-3" href="#!") Twitter
          li
            a(class="grey-text text-lighten-3" href="#!") Instagramm </br>
          li
            a(class="grey-text text-lighten-4 right" href="#!") More Links
      div(class="col l3 s12")
        h5(class="white-text") CONTACT US
        p(class="grey-text text-lighten-4") No 1104 Sky Tower, Newyork, USA
        p(class="grey-text text-lighten-4") Phone: +01 888 (000) 1234
        p(class="grey-text text-lighten-4") Email: suport@yahoo.com
  div(class="footer-copyright")
    .container
      p(class="center") |© Powered by Andrei Ghenov (DevBalu)