meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title Document
link(rel="stylesheet" href="css/materialize.min.css")
link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
link(rel="stylesheet" href="css/font-awesome.min.css")
link(rel="stylesheet" href="libs/flickity/flickity.min.css")
link(rel="stylesheet" href="css/comun.css")