.carousel
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop5.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop4.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop8.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop4.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop3.jpg")
		a(class="carousel-item" href="#")
			img(src="img/shop/prepared/shop3.jpg")