script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
script(type="text/javascript" src="libs/flickity/flickityJS/flickity.js")
script(type="text/javascript" src="libs/flickity/flickityJS/flickity.pkgd.js")
script(type="text/javascript" src="js/materialize.min.js")
script(type="text/javascript" src="js/common.js")