nav 
	div(class="nav-wrapper")
		a(href="#" class="brand-logo left") LOVE GAME
		a(class="dropdown-button" href="#" data-activates="dropdown") Dropdown 
			i(class="material-icons right") arrow_drop_down
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			li
				a(href="#") CATALOG
			li
				a(href="#") POPULAR
			li
				a(href="#") INFORMATION
