nav
	div(class="nav-wrapper")
		a(href="../index.html" class="brand-logo left") LOVE GAME
		ul(class="right")
			li
				a(class="dropdown-button dropactive" href="#") 
					i(class="material-icons") reorder
		ul(id="nav-mobile" class="right hide-on-med-and-down")
			li
				a(href="catalog.html") CATALOG
			li
				a(href="index.html#threeSection") POPULAR
			li
				a(href="info.html") INFORMATION
			ul(class="dropdown-content drop")
				li
					a(href="catalog.html") CATALOG
				li
					a(href="index.html#threeSection") POPULAR
				li
					a(href="info.html") INFORMATION
