div(class="carousel" data-flickity='{ "groupCells": true}')
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")