div(class="carousel" data-flickity='{ "groupCells": true, "autoPlay": true}')
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    img(class="carousel-cell-image" src="img/x.jpeg")