.container
	.row
		.col.s12.m4.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m4.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m4.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m4.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						i(class="material-icons") zoom_in 
					.collapsible-body
						p  lorem <br> ipsum <br> amet