ul(class="collapsible popout" data-collapsible="accordion")
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.
	li
		.collapsible-header
			i(class="material-icons") filter_drama  
		.collapsible-body
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis magni incidunt sunt culpa harum, a provident. Quasi explicabo unde laudantium nemo tempore a eligendi consequuntur, eos voluptatum, optio perferendis ipsam facilis quod labore quaerat nulla deserunt qui eum, non molestiae. Assumenda velit quod delectus accusantium. Ducimus placeat sed modi, ex quia amet dolorum adipisci nostrum ab corporis in, laudantium.