div(class="slider")
  ul(class="slides")
    li
      img(src="img/grl1.png")
      .caption.right-align
        h3 Right Aligned Caption
        h5 class="light grey-text text-lighten-3"Here's our small slogan.    
    li
      img(src="img/grl2.png")
      .caption.right-align
        h3 Right Aligned Caption
        h5 class="light grey-text text-lighten-3"Here's our small slogan.
    li
      img(src="img/grl3.png")
      .caption.right-align
        h3 Right Aligned Caption
        h5 class="light grey-text text-lighten-3"Here's our small slogan.
    li
      img(src="img/grl4.png")
      .caption.right-align
        h3 Right Aligned Caption
        h5 class="light grey-text text-lighten-3"Here's our small slogan.
    li
      img(src="img/grl8.png")
      .caption.right-align
        h3 Right Aligned Caption
        h5 class="light grey-text text-lighten-3"Here's our small slogan.