div(class="slider")
  ul(class="slides")
    li
      img(src="img/grl1.png")
      .caption.right-align
        h2 Right Aligned Caption
        h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    li
      img(src="img/grl2.png")
      .caption.right-align
        h2 Right Aligned Caption
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cum molestias vitae consequatur minus consequuntur officia, voluptate placeat quia quam eum, nam possimus, laudantium error ut dolore quae nesciunt maxime!
    li
      img(src="img/grl3.png")
      .caption.right-align
        h2 Right Aligned Caption
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cum molestias vitae consequatur minus consequuntur officia, voluptate placeat quia quam eum, nam possimus, laudantium error ut dolore quae nesciunt maxime!
    li
      img(src="img/grl4.png")
      .caption.right-align
        h2 Right Aligned Caption
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic cum molestias vitae consequatur minus consequuntur officia, voluptate placeat quia quam eum, nam possimus, laudantium error ut dolore quae nesciunt maxime!
    li
      img(src="img/grl3.png")
      .caption.right-align
        h2 Right Aligned Caption
        h4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex optio et molestiae, praesentium cupiditate accusamus odit, velit odio beatae perspiciatis quo architecto ea quasi placeat vel eius consequuntur blanditiis. Asperiores.