div(class="carousel" data-flickity='{ "groupCells": true, "autoPlay": false}')
  div(class="carousel-cell")
    div(class="wrapimg")
      include cardTP_mini.jade
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")
  div(class="carousel-cell")
    div(class="wrapimg")
      img(class="carousel-cell-image" src="img/x.jpeg")