div(class="carousel" data-flickity='{ "groupCells": true, "autoPlay": false}')
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade
  div(class="carousel-cell")
    include cardTP_mini.jade