.twosec_mini_categories
	.container
		.row
			.col.s12.m6.l3
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								P(class="center") MEN
							img(src="img/sort/minCat1.jpg" )
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") WOMEN
							img(src="img/sort/minCat2.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") COUPLES
							img(src="img/sort/minCat3.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") DILDE
							img(src="img/sort/minCat4.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
			.col.s12.m6.l3
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") BANDAGE
							img(src="img/sort/minCat5.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") LINGERIE
							img(src="img/sort/afda.png")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") CHRISTMAS
							img(src="img/sort/minCat16.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") SEXY PANTIES
							img(src="img/sort/minCat7.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
			.col.s12.m6.l3
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") FETISH WEAR
							img(src="img/sort/minCat8.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") BUT PLUGS
							img(src="img/sort/minCat9.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") ELECTRO
							img(src="img/sort/minCat10.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") MEDICAL
							img(src="img/sort/minCat11.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
			.col.s12.m6.l3
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") FETISH
							img(src="img/sort/minCat12.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") CLOTHING
							img(src="img/sort/minCat13.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") DEVICES
							img(src="img/sort/minCat14.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty
				ul(class="collapsible popout" data-collapsible="accordion")
					li
						.collapsible-header
							div(class="textatimg")
								p(class="center") SEXY COSTUMES
							img(src="img/sort/minCat15.jpg")
						.collapsible-body
							p  Topco Lonely <br> CyberSkin  <br> American Beauty