.container
	.row
		.col.s12.m6.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat1.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat2.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat3.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat4.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m6.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat5.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/afda.png")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat16.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat7.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m6.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat8.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat9.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat10.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat11.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
		.col.s12.m6.l3
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat12.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat13.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat14.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet
			ul(class="collapsible popout" data-collapsible="accordion")
				li
					.collapsible-header
						img(src="img/sort/minCat15.jpg")
					.collapsible-body
						p  lorem <br> ipsum <br> amet