/*card Desktop parametres three section*/
.topProduct
	i
		color #FA6
	.tpSlideshow
		.row
			margin 0
			.card
				background-color rgba(255, 255, 255, .4)
				margin 0
				.card-image
					height 200px
					display flex
					align-items center
					justify-content center
					.wrapimg
						width 100%
				.card-content
					padding 10px
					a
						color #000
						font-size 20px
					.card-action
						color #fff
						padding 5px
				.card-reveal
					padding 7px
					p
						margin 2px 0
					h3
						margin 2px 0
						padding 2px 0
						color #000
					h4
						font-size 20px
						font-weight 300
						margin 2px 0
						padding 2px 0
						color #000
					h5
						font-size 20px
						font-weight 300
						margin 2px 0
						padding 2px 0
						color #000
					i
						font-size 25px
						margin 2px 0
						padding 2px 0
						color #FA6
.star
	color #FC6
/*END card Desktop parametres three section*/
/*card MOBILE parametres three section*/
@media screen and (max-width 600px)
	.topProduct
		.tpSlideshow
			.row
				margin 0
				.card
					margin 0
					.card-image
						display flex
						align-items center
						.wrapimg
							width 100%
					.card-content
						padding 5px
						h2
							margin 0
							font-size 14px
						h3
							margin 0
							font-size 14px
						h4
							color #000
							margin 0
							font-size 14px
							font-weight 400
						h5
							font-size 10px
							margin 2px
						i
							font-size 7px
						p
							font-size 7px
					.card-reveal
						padding 5px
						h2
							margin 0
							font-size 14px
						h3
							margin 0
							font-size 14px
						h4
							color #000
							margin 0
							font-size 14px
							font-weight 400
						h5
							font-size 10px
							margin 2px
						i
							font-size 7px
						p
							font-size 7px
@media screen and (max-width 800px)
	.topProduct
		.tpSlideshow
			.row
				margin 0
				.card
					margin 0
					.card-image
						display flex
						align-items center
						.wrapimg
							width 100%
					.card-content
						padding 5px
						h2
							margin 0
							font-size 14px
						h3
							margin 0
							font-size 14px
						h4
							color #000
							margin 0
							font-size 14px
							font-weight 400
						h5
							font-size 10px
							margin 2px
						i
							font-size 7px
						p
							font-size 7px
					.card-reveal
						padding 5px
						h2
							margin 0
							font-size 14px
						h3
							margin 0
							font-size 20px
						h4
							color #000
							margin 0
							font-size 17px
							font-weight 400
						h5
							font-size 10px
							margin 2px
						i
							font-size 7px
						p
							font-size 12px