.topProduct
	.container	
		.row
			margin 0
			padding 40px
			.card
				.card-image
					display flex
					align-items center
				.card-stacked
					.card-content
						padding 0 2px 2px 10px
					.card-action
						padding 10px
@media screen and (max-width 600px)
	.topProduct
		.container	
			.row
				margin 0
				padding 2px
				.card
					.card-image
						display flex
						align-items center