.filterContent
	float left
	.row
		margin 0
		list-style-type none
		display block
		float left
		div
			float left
			.card-action
				i
				font-size 25px
				color #FC6
				.price
					color #2196f3
					position relative
					text-align right
					.savemoney
						position absolute
						color #bdbdbd
						right 10px
						top -20px