.catalogOS
	.collapsible-header
		display block
		cursor pointer
		height 3rem
		line-height 3rem
		padding 0 1rem
		background-color #eee
		border-bottom 1px solid #ddd
		p
			margin 0
	.collapsible-body
		overflow hidden
		display none
		border-bottom 1px solid #ddd
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box
		padding 20px 0
		.range-field
			padding 0
		a
			cursor pointer
.btn
	padding 0
	width 100%