.filterContent
	.row
		margin 0
		list-style-type none
		display block
		div
			.card-action
				padding 20px 
				.col
					padding 0
				i
					font-size 22px !important
					color #FC6
				.price
					color #2196f3
					position relative
					text-align right
					.savemoney
						position absolute
						color #bdbdbd
						right 10px
						top -20px
						text-decoration line-through
.clearfix
	clear none
@media only screen and (max-width 600px)
	.filterContent
		.row
			div
				.card-action
					padding 20px 0
					.col
						padding 0
					i
						font-size 23px !important