.itemSec
	background #ddd
	padding 10px 0
	.container
		.row
			margin 0
			padding 40px
			.card
				.card-image
					display flex
					align-items center
					img
						max-width none
						width 100%
				.card-stacked
					border-left 1px solid #ccc
					.card-content
						padding 0 2px 2px 10px
						h4
							font-weight 100
						h5
							font-weight 300
						p
							font-size 15px
					.card-action
						padding 10px
						font-size 20px
.itemSpecifics
	border-top 1px solid #ddd
	.specContent
		border 1px solid #ddd
		padding 10px
@media only screen and (max-width 600px)
	.itemSec
		.container
			.row
				margin 0
				padding 0
				.col
					padding 0
				.card
					.card-image
						display flex
						align-items center
						padding 0
						img
							max-width none
							width 100%
					.card-stacked
						.card-content
							padding 0 2px 2px 2px