nav
	background-color #fff
	box-shadow none
	color #000
a.brand-logo
	color #000
	font-weight 200
ul.right
	i
		color #000
	overflow none
ul#nav-mobile
	a
		color #000
ul.drop
	margin-top 55px !important
	min-width 130px !important
	li
		a
			font-family 'Roboto'
			font-size 14px
			font-weight 700
			color #000
.twoMenu
	border-bottom 2px solid #ccc
.threeMenu
	border-top 1px solid rgba(216, 125, 186, .44)
.menuCatalog
	border-bottom 1px solid #ccc
.menuItem
	background rgba(69, 28, 55, .49)
	nav
		background rgba(163, 143, 157, 1) !important
		.nav-wrapper
			.brand-logo
				color #fff
			#nav-mobile
				li
					a
						color #fff
			.right
				i
					color #fff
				