nav
	background-color #fff
	box-shadow none
	color #000
a.brand-logo
	color #000
	font-weight 100
ul.right
	i
		color #000
ul#nav-mobile
	a
		color #000
ul.drop
	margin-top 55px !important
	min-width 130px !important 
	li
		a
			font-family 'Roboto'
			font-size 14px
			font-weight 700
			color #000
.twoMenu
	border-bottom 1px solid #ccc	
.threeMenu
	border-top 1px solid rgba(216, 125, 186, .44)
	