nav 
	a
		font-weight 100
	ul
		a
			font-family 'Roboto'
			font-size 14px
			font-weight 700
			color #000
.menuTwo
	border-top 1px solid #ccc	
	nav 
		a
			color #000
			font-size 30px
	ul
		a
			font-family 'Roboto'
			font-size 14px
			font-weight 700
			color #000
.menuThree
	// background linear-gradient(45deg, rgba(234,201,230,1) 0%,rgba(181,159,178,1) 37%,rgba(197,200,201,1) 100%)
	border-bottom 1px solid rgba(0, 0, 0, 0.19)		
	nav 
		box-shadow 0px 0px 2px 0 rgba(255, 255, 255, 0.14), 0px 0px 4px 0 rgba(255, 255, 255, 0.12), 0px 0px 5px 0px rgba(255, 255, 255, 0.2)
		a
			color #fff
			font-size 30px
	ul
		a
			font-family 'Roboto'
			font-size 14px
			font-weight 700
			color #000