// Slideshow Brands*/
.carousel
    background #EEE
    height 150px !important
.carousel-cell
	width 28%
	height 100% !important
	border-radius 5px
	display flex
	justify-content center
	align-items center
.carousel-cell-image
    height 100%
    opacity .5
@media screen and (max-width:600px)
	.carousel
		height 65px !important	
/*End slideshow Brands