/*slideshow top product*/
.carousel
    background #EEE
    height 180px !important
.carousel-cell
	width 28%
	height 180px !important
	margin-right 10px
	border-radius 5px
	display flex
	justify-content center
	align-items center
/*End slideshow top product*/
@import 'components/cardTP_mini.styl'