.twosec_mini_categories
	.collapsible-header
		padding 0
		width 100%
		position relative
		.textatimg
			position absolute
			width 100%
			top 30%
			p
				font-size 25px
				font-weight 300
	.collapsible-header img
		width 100%
		opacity .3
	.collapsible-body
		p
			padding 10px