/*--------------------General properties-----------------------*/
p {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 100;
}
a {
  text-decoration: none;
}
/*-----------------------------------------------------------------MAIN PAGE HTML----------------*/
/*Menu*/
nav {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}
a.brand-logo {
  color: #000;
  font-weight: 100;
}
ul.right i {
  color: #000;
}
ul#nav-mobile a {
  color: #000;
}
ul.drop {
  margin-top: 55px !important;
  min-width: 130px !important;
}
ul.drop li a {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.twoMenu {
  border-bottom: 1px solid #ccc;
}
.threeMenu {
  border-top: 1px solid rgba(216,125,186,0.44);
}
/*END Menu*/
/*--------------------One Section--------------------------*/
/*Slideshow*/
.caption {
  left: 42% !important;
  width: 50% !important;
}
.slides {
  background: linear-gradient(45deg, #c49db9 1%, #d680b6 18%, #d87dba 38%, #aa2f87 100%);
}
/*END Slideshow*/
/*Brand slideshow*/
.carousel {
  background: #eee;
  height: 150px !important;
}
.carousel-cell {
  width: 28%;
  height: 100% !important;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.carousel-cell-image {
  height: 100%;
  opacity: 0.5;
}
@media screen and (max-width: 600px) {
  .carousel {
    height: 65px !important;
  }
}
/*END Brand slideshow*/
/*--------------------Two Section--------------------------*/
/*Mini Categorys*/
.collapsible-header {
  padding: 0;
  width: 100%;
}
.collapsible-header img {
  width: 100%;
  opacity: 0.8;
}
/*END Mini Categorys*/
/*--------------------Three Section------------------------*/
.topProduct {
  padding-bottom: 20px;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(1%, #c49db9), color-stop(18%, #d680b6), color-stop(38%, #d87dba), to(#aa2f87));
  background: linear-gradient(to top right, #c49db9 1%, #d680b6 18%, #d87dba 38%, #aa2f87 100%);
}
/*card top Product */
.topProduct .container .row {
  margin: 0;
  padding: 40px;
}
.topProduct .container .row .card .card-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.topProduct .container .row .card .card-stacked .card-content {
  padding: 0 2px 2px 10px;
}
.topProduct .container .row .card .card-stacked .card-action {
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .topProduct .container .row {
    margin: 0;
    padding: 2px;
  }
  .topProduct .container .row .card .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
/*END card Top Product*/
/*card top product mini*/
@media screen and (max-width: 600px) {
  .tpSlideshow .carousel {
    height: 100px !important;
  }
  .tpSlideshow .carousel-cell {
    width: 50%;
    margin-right: 2px;
  }
}
.tpSlideshow .carousel {
  background: rgba(255,255,255,0.001);
  height: 240px !important;
}
.tpSlideshow .carousel-cell {
  width: 28%;
  margin-right: 10px;
  height: 100% !important;
  border-radius: 5px;
}
.topProduct .tpSlideshow .row {
  margin: 0;
}
.topProduct .tpSlideshow .row .card {
  background-color: rgba(255,255,255,0.4);
  margin: 0;
}
.topProduct .tpSlideshow .row .card .card-image {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.topProduct .tpSlideshow .row .card .card-image .wrapimg {
  width: 100%;
}
.topProduct .tpSlideshow .row .card .card-content a {
  color: #000;
}
.topProduct .tpSlideshow .row .card .card-content .card-action {
  color: #fff;
  padding: 5px;
}
.topProduct .tpSlideshow .row .card .card-reveal {
  padding: 7px;
}
.topProduct .tpSlideshow .row .card .card-reveal p {
  margin: 2px 0;
}
.topProduct .tpSlideshow .row .card .card-reveal h4 {
  margin: 2px 0;
  padding: 2px 0;
  font-size: 20px;
}
.topProduct .tpSlideshow .row .card .card-reveal h5 {
  margin: 2px 0;
  padding: 2px 0;
  font-size: 20px;
}
.topProduct .tpSlideshow .row .card .card-reveal i {
  margin: 2px 0;
  padding: 2px 0;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .topProduct .tpSlideshow .row {
    margin: 0;
  }
  .topProduct .tpSlideshow .row .card {
    margin: 0;
  }
  .topProduct .tpSlideshow .row .card .card-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .topProduct .tpSlideshow .row .card .card-image .wrapimg {
    width: 100%;
  }
  .topProduct .tpSlideshow .row .card .card-content {
    padding: 5px;
  }
  .topProduct .tpSlideshow .row .card .card-content h4 {
    color: #000;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .topProduct .tpSlideshow .row .card .card-content h5 {
    font-size: 10px;
    margin: 2px;
  }
  .topProduct .tpSlideshow .row .card .card-content i {
    font-size: 7px;
  }
  .topProduct .tpSlideshow .row .card .card-content p {
    font-size: 7px;
  }
}
/*END card top product mini*/
/*-----------------------------------------------------------------CATALOG PAGE HTML----------------*/
/*-------------------Catalog One Section-------------------*/
/*filter*/
.catalogOS .collapsible-header {
  display: block;
  cursor: pointer;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.catalogOS .collapsible-body {
  overflow: hidden;
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*END filter*/
/*filter content*/
/*END filter content*/
