/*--------------------General properties-----------------------*/
p {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto";
  font-weight: 100;
}
a {
  text-decoration: none;
}
.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}
a.brand-logo {
  color: #000;
  font-weight: 100;
}
ul.right i {
  color: #000;
}
ul#nav-mobile a {
  color: #000;
}
ul#dropdown1.dropdown-content {
  margin-top: 55px !important;
  min-width: 130px !important;
}
ul#dropdown1.dropdown-content li a {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.caption {
  left: 42% !important;
  width: 50% !important;
}
/*----------------Individual properties-----------------------------------*/
