doctype
html(lang="en")
	head
		include components/head.jade
	body
		//- main container
		main
			//-ONE SECTION
			.oneSection
				//- menu one section
				.container
					//-menu
					include components/menu.jade
			.footer
				include components/footer.jade


		include components/libs.jade