doctype
html(lang="en")
	head
		include components/head.jade
	body
		//- main container
		main
			//-catalog ONE SECTION
			.catalogOS
				//- menu
				.menuCatalog
					.container
						include components/menu.jade
				//-filter
				.container
					.row
						include components/filter.jade
						//- filter content
						include components/filterContent.jade
			.footer
				include components/footer.jade


		include components/libs.jade