doctype
html(lang="en")
	head
		include components/head.jade
	body
		//- main container
		main
			//- navbar container
			.oneSection
				.container
					include components/menu.jade
				//- slideshowNav				
				include components/osslideshow.jade
				//- brands bar
				.brands
					include components/brands.jade
		include components/libs.jade