doctype
html(lang="en")
	head
		include components/head.jade
	body
		//main container
		main
			//ONE SECTION
			.oneSection
				//menu one section
				.container
					//menu
					include components/menu.jade
				//slideshow one section
				include components/os_slideshow.jade
				//brands slideshow one section
				.brands
					include components/os_brands_slideshow.jade
			//TWO SECTION
			.twoSection
				//two menu two section
				.twoMenu
					.container
						include components/menu.jade
				//mini categories two section
				include components/twosec_mini_categories.jade
			//THREE SECTION
			.threeSection
				//three menu three section
				.threeMenu
					.container
						include components/menu.jade
				//top product three section
				.topProduct
					//card top product
					include components/cardTP.jade
					//top product slideshow
					.tpSlideshow
						h3(class="center") SIMILAR ITEMS
						//mini card
						include components/ths_tp_slideshow.jade
				//footer
				.footer
					include components/footer.jade
				//END footer


		include components/libs.jade