doctype
html(lang="en")
	head
		include components/head.jade
	body
		//- main container
		main
			//- navbar container
			.oneSection
				.container
					include components/menu.jade
				//- slideshowNav				
				include components/one_section_slideshow.jade
				//- brands bar
				.brands
					include components/brands.jade
			.twoSection
				//- menu Two
				.menuTwo
					.container 
						include components/menu.jade
				//- section  mini categori
				include components/section_categorys.jade
			.threeSection
				.menuThree
					.container 
						include components/menu.jade
				.topProduct
					include components/card.jade
					//- include components/slides_rate_product.jade
			//- footer
			.footer
				include components/footer.jade
		//- Libs
		include components/libs.jade